.mainContainer {
  display: grid;
  width: 100%;
  height: calc(100vh - 3.45rem);
  grid-template-columns: 20rem calc(100vw - 20.4rem);
}

.mainContainer .textareaContainer {
  position: relative;
  height: 100%;
  width: 100%;
  border-left: 1px solid #1f1f1f;
}

.textareaContainer > textarea {
  top: 0;
  height: 100%;
  width: 100%;
  resize: none;
  padding: 1.6rem 0.4rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border: none;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0.4rem 0.1px inset #0a0a0a41;
}

.timestamp {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
}

.fileContainer {
  list-style: none;
  margin: 0.3rem;
  padding: 0.5rem;
  box-shadow: 0 0 4px 0.1px #0a0a0a41;
  border-radius: 0.3rem;
  border-bottom: 2px solid #163cc5;
}

.file {
  width: 100%;
  padding: 0.3rem 0;
  overflow: hidden;
  white-space: nowrap;
}

.activeFile {
  background-color: #7893f3d0;
}

.modal {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 5;
  transform: translate(-30%, -50%);
  width: 60vw;
  padding: 1.6rem 1rem 1rem;
  box-shadow: 0 6px 4px 0.1px rgba(93, 128, 151, 0.486);
  background: #fff;
  transition: all 0.4s;
}

.close {
  position: absolute;
  right: 1rem;
  top: 0.1rem;
  font-size: 1.6rem;
  transition: color 0.5s;
}

.close:hover {
  color: red;
  cursor: pointer;
}

.hide-modal {
  top: -100vh;
}

.gridFileContainer {
  display: grid;
  grid-template-columns: 9.8rem 9.8rem;
  grid-template-rows: repeat(auto-fill, minmax(6.5rem, 6.5rem));
  overflow-y: auto;
}

/* .gridFileContainer > div {
  height: 5rem;
} */

.gridFileContainer > div > div {
  flex-direction: column;
}

.matchHighlight {
  color: red;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  width: 1rem;
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.highlighter .highlighted {
  background-color: #ffeaa7;
  color: #e17055;
  box-shadow: -3px 0 0 #ffeaa7, 3px 0 0 #ffeaa7;
  /* Creates an illusion of a wider span, while not affecting the actual width. */
}
