.mainContainer {
  display: grid;
  width: 100%;
  height: calc(100vh - 3.45rem);
  grid-template-columns: 1fr 3fr;
}

.mainContainer .textareaContainer {
  position: relative;
  height: 100%;
  width: 100%;
  border-left: 1px solid #1f1f1f;
}

.textareaContainer > textarea {
  top: 0;
  height: 100%;
  width: 100%;
  resize: none;
  padding: 1.6rem 0.4rem;
  font-size: 1rem;
  letter-spacing: .1rem;
  border: none;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 .4rem .1px inset #0a0a0a41;
}

.timestamp {
  position: absolute;
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: .8rem;
}
